@CHARSET "UTF-8";

html, body{ height: 100% }
#wrapper{ position: relative; width: 100%; padding-bottom: 100px; }
#container{ position: relative; border: 2px solid red;  padding-bottom: 10%;}
footer{ position: absolute; bottom:0; left:0; width: 100%; height: 100px;background-color: pink; }
footer div{ width: 100%; text-align: center; border: 1px solid pink;}
 

.gms-text-center{ text-align: center; }
.gms-border-line{ border: 1px solid black; }
.gms-width-30pro{ width: 30%; }
.gms-text-deco{ text-decoration: none; }
.gms-margin{ margin: auto; }
.gms-collapse{ border-collapse: collapse }
.gms-with-100pro{ width: 100%; }
.gms-background-blue{ background-color: powderblue; }
.gms-background-red{ background-color: red; }
#go_main{ float: right; }
#title{ text-align: center; }
#now_time{ float: right; }

img{ width: 200px; height: 200px; }

/* unvisited link */
a:link { color: black; }
/* visited link */
a:visited { color: green; }
/* mouse over link */
a:hover { color: hotpink; font-size: 20px; }
/* selected link */
a:active { color: blue; }

